.gradient-hover {
    position: relative;
    overflow: hidden;
  }
  
  .gradient-hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, transparent 0%, #001171 0%, #001171 100%, transparent 100%);
    background-size: 200% 200%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .gradient-hover:hover::before {
    opacity: 1;
  }
  
  .nav-text {
    position: relative;
    z-index: 1;
  }  

  
  
  
  
  
  